<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
        src="https://apis.mappls.com/advancedmaps/api/55e48216d80e1ec41924e08dd3bb488f/map_sdk?v=3.0&layer=vector"></script>
    <style>
        html,
        body {
            height: 100vh;
        }
        header{
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        section{
            height:  80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #map {
            margin: 0;
            padding: 0;
            width: 60%;
            height: 100%;
        }
    
    </style>
</head>

<body>
    <header>find my doctor for ADHD</header>
    <section><div id="map"></div></section>
    
    <script>
        let user_loc = navigator.geolocation;

        function geolocator() {
            if (user_loc) {
                user_loc.getCurrentPosition(success, error);
            } else {
                alert("Your browser doesn't support the geolocation API");
            }
        }

        function success(data) {
            let lat = data.coords.latitude;
            let long = data.coords.longitude;

            // Initialize the map after getting the location
            let map = new mappls.Map('map', {
                center: { lat: lat, lng: long }, // Use the updated lat and long
                zoom: 15 // Set a default zoom level
            });
            var marker = new mappls.Marker({
                map: map,
                position: { "lat": lat, "lng": long }
            });
            var marker = new mappls.Marker({
                map: map,
                position: { "lat": lat+0.0025 , "lng":long+0.0025  }
            });
            var marker = new mappls.Marker({
                map: map,
                position: { "lat": lat-0.0025 , "lng":long+0.0025  }
            });
            var marker = new mappls.Marker({
                map: map,
                position: { "lat": lat+0.0025 , "lng":long-0.0025  }
            });
            var marker = new mappls.Marker({
                map: map,
                position: { "lat": lat-0.0025 , "lng":long-0.0025  }
            });
        }

        function error(err) {
            console.warn(`ERROR(${err.code}): ${err.message}`);
            alert("Unable to retrieve your location.");
        }

        // Call the geolocator function when the script runs
        geolocator();
    </script>
</body>

</html>